* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Rubik', sans-serif;
}

html, body {
    margin: 0; 
    max-height: 100%;
    overflow: hidden;
}

.header {
    background-color: white;
    width: 100vw;
    margin-top: 10px;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .image {
    width: 155px;
}

.header .menu {
    margin-top: 10px;
    margin-bottom: 13px;
}

.header .link {
    color: #4a4a4a;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
margin: auto 10px;
}

.header .link:hover {
    color: gainsboro;
}

.main {
    background-color: #3CDBC0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .text {
    color: #FFFFFF;
    font-size: 30px;
    width: 50%;
    text-align: center;
}

@media all and (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
        padding: 20px 20px 20px 30px;
    }

    .header .menu {
       margin: 0px;
    }

    .header .link {
        font-size: 16px;
    }

    .main .text {
        font-size: 40px;
        width: 20%;
    }
}